@layer components {
    .section-title {
        font-size: clamp(1.75rem, 1.251rem + 1.666vw, 3.25rem);
    }

    .text-card-title {
        @apply font-bold leading-[1.25] tracking-[-0.01em];

        font-size: var(--fs-card-title);
    }
    
    .text-body-md {
        @apply leading-[1.4];

        font-size: var(--fs-body-md);
    }
}